table{
  border-collapse: collapse;
  padding: 15px;
}

.pokemon_type_grass{
  border: solid 1px;
  border-color: greenyellow;
  background-color: rgb(117, 180, 22);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_poison{
  border: solid 1px;
  border-color: rgb(250, 23, 250);
  background-color: rgb(188, 6, 233);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_fire{
  border: solid 1px;
  border-color: rgb(253, 190, 71);
  background-color: rgb(255, 123, 0);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_flying{
  border: solid 1px;
  border-color: rgb(0, 247, 255);
  background-color: rgb(2, 190, 190);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_water{
  border: solid 1px;
  border-color: darkcyan;
  background-color: rgb(58, 137, 241);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_bug{
  border: solid 1px;
  border-color: rgb(3, 221, 3);
  background-color: rgb(2, 153, 2);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_normal{
  border: solid 1px;
  border-color: gainsboro;
  background-color: gray;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_electric{
  border: solid 1px;
  border-color: yellow;
  background-color: rgb(224, 191, 0);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_ground{
  border: solid 1px;
  border-color: wheat;
  background-color: rgb(197, 162, 96);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_fairy{
  border: solid 1px;
  border-color: rgb(248, 134, 248);
  background-color: hotpink;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_fighting{
  border: solid 1px;
  border-color: orange;
  background-color: orangered;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_psychic{
  border: solid 1px;
  border-color: rgb(248, 134, 248);
  background-color: rgb(255, 61, 158);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_rock{
  border: solid 1px;
  border-color: rgb(172, 99, 57);
  background-color: rgb(172, 99, 57);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_steel{
  border: solid 1px;
  border-color: rgb(81, 146, 199);
  background-color: steelblue;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_ice{
  border: solid 1px;
  border-color: lightskyblue;
  background-color: rgb(82, 182, 245);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_ghost{
  border: solid 1px;
  border-color: mediumpurple;
  background-color: rgb(121, 74, 214);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_dragon{
  border: solid 1px;
  border-color: rgb(89, 89, 253);
  background-color: rgb(71, 71, 223);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.pokemon_type_dark{
  border: solid 1px;
  border-color: black;
  background-color: rgb(51, 51, 51);
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: white;
}

td{
  border: solid 1px;
  border-color: black;
  background-color: white;
  text-align: center;
}

th{
  border: solid 1px;
  border-color: black;
  background-color: white;
  text-align: center;
}

td:hover{
  background-color: aqua;
  text-shadow: 1px 1px 10px #0D5C63;
}

.type_chart{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 5px;
}

.type_chart aside{
  color: #F0F7F4;
  text-shadow: 1px 1px 10px black;
}

.texto_typechart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 50px;
  margin: 5px 20px;
  border: 1px solid #705d56;
  border-radius: 15px;
  background-color: #70ABAF;
  box-shadow: 7px 7px 7px #0D5C63;
}

.titulo_typechart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #F0F7F4;
  text-shadow: 1px 1px 10px black;
}